.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
ios/.symlinks

#api key files
**/example/android/app/src/main/res/values/strings.xml
example/ios/Flutter/flutter_export_environment.sh
example/.flutter-plugins-dependencies
